<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic">
                        Button dropdown <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-basic">
                        <li role="menuitem"><a class="dropdown-item" href="#" [routerLink]="['hot']">Hot</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#" [routerLink]="['user']">User</a></li>
                    </ul>
                </div>
             </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/login" appLogout>Logout</button>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div  class="container-fluid">
    <div class="row">
        <div style="float:right">
            <input #stockFilter (keyup.enter)="filterStock(stockFilter.value)" (onblur)="filterStock(stockFilter.value)" />
            <button (onclick)="filterStock(stockFilter.value)">test</button>
        </div>
    </div>
    <div  class="row grid-container">
        <ag-grid-angular class="ag-theme-balham main-grid"
                         [gridOptions]="gridOptions"
                         (gridReady)="onGridReady($event)">
            >
        </ag-grid-angular>
    </div>
</div>
<router-outlet></router-outlet>