@import "../../../node_modules/ag-grid-community/dist/styles/ag-grid";
@import "../../../node_modules/ag-grid-community/dist/styles/ag-theme-balham";

@import "../../../node_modules/bootstrap/dist/css/bootstrap.min";

.main-grid{
    left:0;
    right:0;
    bottom:0;
    padding:10px;

}