<!DOCTYPE html>
<html>
<head>
    <title>AngularGiraffe</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script language="javascript" type="text/javascript" src="~/lib/signalr.min.js" ></script>
</head>
<body>
    @RenderBody()
</body>
</html>